@using Starfinder.Models
@model Character
<div class="well">
    <h3>
        <strong>@Model.Name</strong>
    </h3>
    <pre>
    CON : @Model.Constitution
    STR : @Model.Strength
    DEX : @Model.Dexterity
    INT : @Model.Intelligence
    WIS : @Model.Wisdom
    </pre>
</div>