@using Starfinder.Models
@model Character
<div class="well">
    <h5>
        <strong>Name: @Model.Name Lvl: @Model.Level</strong>
    </h5>
    <div> Race  : @Model.Race</div>
    <div> Class : @Model.Class</div>
    <div>
    CON : @Model.Constitution<br />
    STR : @Model.Strength<br />
    DEX : @Model.Dexterity<br />
    INT : @Model.Intelligence<br />
    WIS : @Model.Wisdom<br />
    </div>
    <form asp-controller="Character" asp-action="Delete">
        <button id="button1" name="id" value="@Model.Id" type="submit" class="btn btn-dark">Delete</button>
    </form>
</div>